In [15]:
import pandas as pd

In [16]:
#read csv file

cities_df = pd.read_csv("WebVisualisations/Resources/cities.csv", index_col="City_ID")

In [24]:
cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City_ID,,,,,,,,,
0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95

In [25]:
cities_df.dtypes

City           object
Cloudiness      int64
Country        object
Date            int64
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [26]:
# create html table from dataframe
html=cities_df.to_html()

In [28]:
#write html to file
text_file=open("cities.html", 'w')
text_file.write(html)
text_file.close()